.background {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5em 1em;
  padding-bottom: 5em;
  /* background: url("/src/Toronto.gif"); */
}
/* bro I really had different css for each component smh */
/* literally no point in this being here, change it  */
.project-bar-container {
  width: 100%;
  padding-top: 8vh;
  margin-bottom: 3em;
}

.project-bar {
  width: 100%;
  height: 100%;
  color: white;
}

.project-bar h2 {
  font-size: 3em;
  font-weight: 300;
}

.project {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  align-items: center;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
}

.grid-item {
  /*border-radius: 11.5px;*/
  width: 100%;
  transition: 0.4s ease;
  background-color: var(--background);
}

.grid-item-text {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0.6em 0;
}

/* .grid-item-text h2,
em {
  font-family: "Source Serif Pro", serif;
} */

.grid-item-text h2 {
  font-size: 1.2em;
  color: var(--text-colour);
  text-decoration: none !important;
  margin-bottom: 0;
  font-weight: 400;
}

.grid-item-text em {
  font-size: 1em;
  color: var(--text-colour);
  margin-bottom: 10px;
}

.grid-item a:hover {
  color: orange;
}

.grid-item-img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18em;
  border-radius: 5px;
  transition: 0.08s ease-in;
}

.grid-item img {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#item1 {
  width: 100%;
  background-color: #fce8dd;
}

#item2 {
  background-color: #4d5e72;
}

.grid-item:hover .grid-item-img {
  filter: brightness(90%);
}

@media screen and (max-width: 600px) {
  .project-grid {
    grid-template-columns: auto;
  }
}
