.background {
  width: 100%;
  height: 100%;
  /* background: url("/src/Toronto.gif"); */
  background-size: cover;
}
/* bro I really had different css for each component smh */
/* literally no point in this being here, change it  */
.project-bar-container {
  padding-top: 8vh;
  margin-bottom: 10vh;
}

.project-bar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: white;
}

.project-bar h2 {
  margin-left: -0.1em;
  font-size: 4.5em;
  font-weight: 700;
}

.project {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.project-grid {
  display: grid;
  align-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(15.8em, 1fr));
  grid-template-rows: auto + 4em;
}

.grid-item {
  border: 2px solid #808080;
  border-radius: 11.5px;
  transition: 0.4s ease;
  background-color: #1c1c1c;
}

.grid-item-text {
  margin: 0 auto;
  width: 93%;
  height: 100%;
  padding-bottom: 10px;
}

.grid-item-text h2 {
  font-size: 1.5rem;
  color: white;
  text-decoration: none !important;
  margin-bottom: 0;
}

.grid-item-text em {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.grid-item a:hover {
  color: orange;
}

.grid-item img {
  width: 100%;

  border-radius: 10px 10px 0px 0px;
}

.grid-item:hover {
  transform: translateY(-8px);
}

@media screen and (max-width: 600px) {
  .project {
    max-width: 95%;
  }
}
