body {
  background: #f5f5f5;
}

.about-wrapper {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 13em;
}

.about-left-text {
  margin-top: 100px;
}

.about-left-text h2 {
  display: inline;
  margin-top: 100px;
  font-size: 50px;
  color: #f5f5f5;
}

.about-left-text h3 {
  color: #fefefe;
  font-size: 25px;
}
