.about {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;

  /* background: url("/src/Toronto.gif"); */
}

.about-wrapper {
  height: 100%;
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 8vh;
  padding-bottom: 15em;
}

.about-left-text {
  max-width: 70%;
  color: var(--text-colour);
}

.about-left-text h2 {
  font-size: 4.5em;
  font-weight: 500;
}

.about-left-text h3 {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 130%;
}

@media screen and (max-width: 600px) {
  .about h2 {
    font-size: 3.5em;
  }

  .about h3 {
    font-size: 1.5em;
  }
  .about-left-text {
    max-width: 100%;
  }
}
