.footer-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  bottom: 0;
  background-color: #1c1c1c;
  width: 70%;
  border-top-style: solid;
  border-color: #888888;
  border-width: 3px;
}

.icons-container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
}

.icons-container h1 {
  font-family: "poppins";
  color: #eee6dd;
  font-size: 1.6em;
  margin-bottom: 1.2vh;
  font-weight: 600;
  opacity: 0.5;
}

.icons {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.icons ul {
  width: 100%;
  margin-top: 0.8vh;
  margin-bottom: 1vh;
}

.icons ul li {
  display: inline-block;
  margin-right: 1.5em;
}

.icons ul li img:hover {
  opacity: 1;
}

.icons ul li a img {
  font-family: "Source sans pro";
  font-size: 25px;
  text-align: center;
  color: #eeeedd;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.15s ease-in;
  width: 1.8em;
  height: 1.8em;
}
@media screen and (max-width: 600px) {
  .footer-container {
    width: 95%;
  }
}
