:root {
  --highlight-colour: #eee6dd;
  --text-colour: #fefefe;
  --background: #1c1c1c;

  /* --highlight-colour: #111922;
  --text-colour: #010101;
  --background: #fff; */

  --heading: "poppins", sans-serif;
  --body: "Source Serif Pro", serif;
}

* {
  background-color: var(--background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--heading);
  font-weight: 300;
  scrollbar-width: thin;
}

.home,
.navbar-wrapper,
.background,
.footer-container,
.about {
  max-width: 1050px !important;
}

/*

@media screen and (min-height: 900px) {
  .home-wrapper {
    padding-bottom: 19.5em !important;
  }

  .about-wrapper {
    padding-bottom: 17.3em !important;
  }
}

@media screen and (min-width: 2000px) {
  h3 {
    font-size: 35px !important;
  }

  .navbar-items a {
    font-size: 30px !important;
  }

  .navbar-logo a {
    font-size: 2.6em !important;
  }

  h2 {
    font-size: 65px !important;
  }
  .home-wrapper h2 {
    font-size: 80px !important;
  }

  .grid-item h2 {
    font-size: 1.5em !important;
  }

  .grid-item em {
    font-size: 22px !important;
  }
}
*/
